.navList {
  display: flex;
  list-style: none;
}

.navListItem {
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  padding: 5px;
  margin: auto 20px;
}

.loggedIn {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.loggedInBtn {
  margin-top: 25px !important; 
}

.addBusinessPage{
  margin: 50px 50px ;
 }

.addBusinessForm {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  width: 65%;
}

.textFields{
  margin: 20px auto;
}

.businessInfoItem {
  padding: 50px auto;
  margin: 25px auto;
}

.cookieGreeting {
  margin-left: 15px;
}